
body {
	margin: 0px;
	padding: 0px;
	user-select: none;
}

h2 {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	font-family: 'crystalline';
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
}

p {
	margin: 0px 0px 1em 0px;
	padding: 0px;
	text-align: justify;
}

table {
	display: table;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	table-layout: fixed;
}

table tr th {
	margin: 0px;
	padding: 0px 4px;
	font-family: 'vera-mono';
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	border-bottom: 1px solid var(--element-default-color);
}

table tr td {
	margin: 0px;
	padding: 0px 4px;
	font-family: 'vera-mono';
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
}

table tr[data-visible="false"] {
	display: none;
}

table tr:nth-of-type(2n) td {
	background: rgba(255,255,255,0.1);
}

@keyframes pulsating {
	0%   { color: var(--element-default-color); }
	50%  { color: var(--element-active-color); }
	100% { color: var(--element-default-color); }
}

table tbody td[colspan] {
	height: 64px;
	line-height: 64px;
}

table > tbody > tr > td[colspan].loading,
section article > table > tbody > tr > td[colspan].loading {
	text-align: center !important;
	animation: pulsating 2s ease-in-out infinite !important;
}

ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li {
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
}

ul li input,
ul li label {
	vertical-align: middle;
}



section {
	display: block;
	width: 1024px;
	margin: 128px auto 0px auto;
}

section:first-of-type {
	margin-top: 64px;
}

section:last-of-type {
	margin-bottom: 64px;
}

section article {
	display: block;
	width: 512px;
	margin: 0px auto;
	padding: 16px;
	max-height: 80vh;
	border: 1px solid var(--element-default-color);
	border-radius: 8px;
	overflow: hidden auto;
}



section#statistics article > table > thead > tr > th:nth-of-type(1) {
	width: 60%;
	text-align: center;
}

section#statistics article > table > tbody > tr > td:nth-of-type(1) {
	width: 60%;
	text-align: left;
}

section#statistics article > table > thead > tr > th:nth-of-type(2),
section#statistics article > table > tbody > tr > td:nth-of-type(2) {
	width: 20%;
	text-align: center;
}

section#statistics article > table > thead > tr > th:nth-of-type(3),
section#statistics article > table > tbody > tr > td:nth-of-type(3) {
	width: 20%;
	text-align: center;
}

section#statistics article > table > tbody > tr > td[colspan] > table > thead > tr > th:nth-of-type(1),
section#statistics article > table > tbody > tr > td[colspan] > table > tbody > tr > td:nth-of-type(1) {
	width: 20%;
	text-align: center;
}

section#statistics article > table > tbody > tr > td[colspan] > table > thead > tr > th:nth-of-type(2) {
	width: 80%;
	text-align: center;
}

section#statistics article > table > tbody > tr > td[colspan] > table > tbody > tr > td:nth-of-type(2) {
	width: 80%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: hidden;
}

section#levels article > table > thead > tr > th:nth-of-type(2),
section#levels article > table > tbody > tr > td:nth-of-type(2) {
	width: 20%;
	text-align: center;
}

section#levels article > table > thead > tr > th:nth-of-type(3),
section#levels article > table > tbody > tr > td:nth-of-type(3) {
	width: 32px;
}

section#distributors article > table > thead > tr > th:nth-of-type(1) {
	width: calc(100% - 32px);
	text-align: center;
}

section#distributors article > table > tbody > tr > td:nth-of-type(1) {
	width: calc(100% - 32px);
	text-align: left;
}

section#distributors article > table > thead > tr > th:nth-of-type(2),
section#distributors article > table > tbody > tr > td:nth-of-type(2) {
	width: 32px;
}



button[data-action="remove"]:before      { content: '\e14c'; }
input[type="radio"][value="none"]:before { content: '\e14c'; }
input[type="radio"][value="tab"]:before  { content: '\e425'; }
input[type="radio"][value="day"]:before  { content: '\e002'; }
input[type="radio"][value="week"]:before { content: '\e002'; }
input[type="radio"][value="date"]:before { content: '\e916'; }



@media (max-width: 1280px) {

	section {
		width: auto;
	}

}

